section.about-me  {
    position: relative;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* TEXT SECTION */

.text-section > .card {
    width: 90vh;
}

/* VERTICAL SECTION */

.vertical-section {
    position: relative;
    margin: 5em auto;
    max-width: 34.15em;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div {
    border: 2px solid rgba(0, 0, 0, 0.175);
    border-radius: 1em;
    padding: 1.5em;
}

.checkpoint:nth-child(odd) {
    border-left: 3px solid rgba(0, 0, 0, 0.175);
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even) {
    border-left: 3px solid rgba(0, 0, 0, 0.175);
    padding-right: 3em;
    transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before, .checkpoint:nth-child(even)::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.175);
    width: 3rem;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    left: -3.5rem;
}

.checkpoint:nth-child(even)::before {
    right: -3.5rem;
}

.checkpoint:nth-child(odd) div::before, .checkpoint:nth-child(even) div::before {
    content: "";
    background-color: #fff;
    box-shadow: 0 0 0.5em #959595;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}

/* SECTION PARTS TOGETHER */

.text-section, .vertical-section {
    z-index: 1;
}

/* FOOTER SECTION */

footer.waveFooter {
    bottom: -150vh;
}