section.about-me  {
    position: relative;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* TEXT SECTION */

.text-section {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.text-section > .card {
    max-width: 90vh;
    width: fit-content;
}

/* VERTICAL SECTION */

.vertical-section {
    position: relative;
    margin: 5em auto;
    max-width: 34.15em;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint > .card-body {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.175);
    background-color: white;
    padding: 20px 30px !important;
}

.checkpoint:nth-child(odd) {
    border-left: 3px solid rgba(0, 0, 0, 0.175);
    padding-left: 3em;
    padding-right: 2em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even) {
    border-right: 3px solid rgba(0, 0, 0, 0.175);
    padding-right: 3em;
    padding-left: 2em;
    transform: translateX(-16.8em);
}

.checkpoint:nth-child(odd)::before, .checkpoint:nth-child(even)::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.175);
    width: 3rem;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    left: 0;
}

.checkpoint:nth-child(even)::before {
    right: 0;
}

.checkpoint:nth-child(odd) div::before, .checkpoint:nth-child(even) div::before {
    content: "";
    background-color: #fff;
    box-shadow: 0 0 0.5em #959595;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}

/* SECTION PARTS TOGETHER */

.text-section, .vertical-section {
    z-index: 1;
}

.card-title {
    line-height: 2;
}

/* FOOTER SECTION */

footer.waveFooter {
    position: relative;
    bottom: -10vh;
}