body {
    scroll-behavior: smooth;
    background-color: #F1E5D1;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../imgs/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero img {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.move-down a {
    margin-top: 25px;
    transform: scale(3);
    color: white;
}

section {
    position: relative;
    top: 25vh;

}