body {
    scroll-behavior: smooth;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../imgs/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero img {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}