/* SMALLER DEVICES */
@media screen and (max-width: 900px) {
    section .box {
        height: 75vh;
        flex-direction: column;
        gap: 150px;
    }

    section .box a {
        width: 100px;
        padding: 5px 15px;
    }

    section > .container-fluid > .header {
        margin-bottom: -7vh;
    }
}