
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');

:root {
    --borderColor: #E7D4B5;
}

body {
    scroll-behavior: smooth;
    background-color: #F7F9F2 !important;
    height: 150vh;
}

/* NAV SECTION */

.navigation {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

a.nav-link {
    display: inline-block;
    color: white;
    font-size: 25px;
    margin-top: 25px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: transform 0.5s ease-in-out;
    padding: 5px 10px;
}

a.nav-link:hover {
    color: white;
    transform: scale(1.15);
}

/* HERO SECTION */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../imgs/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-text {
    z-index: 1;
}

.hero > .hero-text > #greet {
    font-family: "Playwrite NZ", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    height: 48px !important;
}

.hero img {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
    margin-top: -25px;
}

.move-down {
    position: relative;
    top: 25px;
}

.move-down a {
    padding: 15px;
    margin-top: 25px;
    transform: scale(3);
    color: white;
}

.move-down a > i {
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
    animation: down 1s infinite ease-in-out;
}

@keyframes down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

.gradient-top {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 25vh;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.gradient-bottom {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

/* BUTTON SECTION */

section {
    position: relative;
    top: 0;
}

section .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

section .box a {
    transform: scale(3.5);
    border: none;
    width: 125px;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
    z-index: 1;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.5);
    -webkit-text-stroke: 0.5px black;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        transition: 0.5s ease-in-out;
    }
    
    &::before {
        top: -5px;
        left: -5px;
        border-top: 1.5px solid var(--borderColor);
        border-left: 1.5px solid var(--borderColor);
    }
    
    &::after {
        right: -5px;
        bottom: -5px;
        border-bottom: 1.5px solid var(--borderColor);
        border-right: 1.5px solid var(--borderColor);
    }
    
    &:hover::before,
    &:hover::after {
        width: calc(100% + 10px);
        height: calc(100% + 10px);
    }
}

section > .container-fluid > .header {
    margin-top: 15vh;
}

section .box a:nth-child(1) {
    background-image: url("../imgs/miwose.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 50px;
}

section .box a:nth-child(2) {
    background-image: url("../imgs/pssra.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 50px;
}

section .box a:hover {
    transform: scale(3.7);
    letter-spacing: 0.2rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.5);
}

section .box a:nth-child(3) {
    background-image: url("../imgs/pssra.jpg");
    background-size: cover;
    background-position: center;
}

section .box .break {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 30px; */

}

/* FOOTER SECTION */

footer {
    font-family: "Lato", sans-serif;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    background: #EE4266;
    color: black;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}

footer a:hover::after {
    width: 100%;
}

footer.basic {
    display: none;
}

/* WAVE FOOTER SECTION */

footer.waveFooter {
    position: absolute;
    background-color: #bb1a1a;
    min-height: 50px;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 17.5%;
}

.menu {
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

ul {
    padding-left: 0 !important;
}

footer.waveFooter > .menu > ul > a::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}

footer.waveFooter > .menu > ul > a:hover::after {
    width: 100%;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../imgs/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}
  
.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}
  
.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}
  
.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}
  
@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}
  
@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}